<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
       <h4> Fertilizers are chemical substances that are used to enrich soils with specific nutrients to help plants grow. 
        The elements provided by fertilizers are typically nitrogen, phosphorus and potassium, although other elements 
        such as calcium and sulfur are also available within certain commercial fertilizers. When applied to the soil, 
        fertilizers break down into these constituent components and are then absorbed through the root systems of 
        plants as a form of nourishment.
    </h4>
</body>
</html>