{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kisan Pragati</title>
    <link href="/static/CSS/main.css" rel="stylesheet">
   <div class="con_cls">
       <br>
    <h1><marquee>FARMER LOAN WAIVER RECOMMENDATION</marquee></h1>
    <br> 
   </div>
</head>
<body>
    <div class="full_screen">
        <div class="s_box"> 
            <br>
           <a href="" class="in_bet">HOME</a><a href="" class="in_bet">SIGN IN</a><a href="" class="in_bet">SIGN OUT</a>
           <a href="" class="in_bet">ABOUT US</a>
        </div>
        <br><br>
        <div class="r_box"><br>
            <div class="txt"><a href="crop.html"><b>CROP DETAILS</b></a></div>
           
        </div>
           <!--<img src="/static/CSS/img5.jpg" class="img_plc">--> 
        
        <br>
        <div class="r_box"><br>
            <div class="txt" ><b>LOAN SCHEME</b></div>
        </div>
        <br>
        <div class="r_box"><br>
            <div class="txt"><b>GOVERNMENT SCHEMES</b></div>
        </div>
        <div class="n_box">
        <a href="create.html" class="create_account">
            <h2>CREATE ACCOUNT</h2>
        </a>
            </div>
            <br>
        <div class="l_box">
                <a href="login.html" class="create_account">    
            <h2>LOGIN IN</h2>
              </a>
        </div>
        <br><br><br><br><br>
        <div class="p_box">
            <a href="check.html" class="create_account">    
        <h2>Check</h2>
          </a>
    </div>
    </div>
</body>
</html>