<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <marquee>LOAN SCHEME</marquee>
</head>
<body>
    <h2>We are here to provide the farmers the best offers.THis offer will be applicable only for those
        farmers who are having loan and will match with our eligibility criteria.
    </h2>
    <h1><b>Eligibility Criteria</b></h1>
    <h2>We will be having fixed amount of loan i.e. Rs.100000.If the user satisfies this amount,then the farmer
        will get best offer provided by us </h2><br>
    <h1>Offers provided</h1><br>
    <h2>-> Crop offer</h2>
    <h2>-> Fertilizer offer</h2>
    <h2>->Equipment offer</h2>
</body>
</html>