{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kisan Pragati</title>
    <link href="/static/CSS/not.css" rel="stylesheet">
   <div class="con_cls">
       <br>
    <h1><marquee>FARMER LOAN WAIVER RECOMMENDATION</marquee></h1>
    <br> 
   </div>
</head>
<body>
    <div class="full_screen">
        <div class="s_box"> 
            <br>
           <a href="" class="in_bet">HOME</a><a href="" class="in_bet">SIGN IN</a><a href="" class="in_bet">CONTACT US</a>
           <a href="" class="in_bet">ABOUT US</a>
        </div>
        <br><br>
        <font size=20px align=center color=red>
             <b>Hey {{name}} you are not eligible for offer</b></h1></font>
           
        </div>
    </div>
</body>
</html>