{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Offer</title>
    <link rel="stylesheet" href="{% static './CSS/offer.css' %}">
    <div class="con_cls">
        <br>
     <h1><marquee>HEY {{name}} {{l}} ,YOU ARE {{e}} FOR OFFERS</marquee></h1>
     <br> 
    </div>
</head>
<body>
    <div class="full_screen">
        <br><br>
        <div class="r_box">
            <div class="txt" ><b>CROP OFFERS</b></div><br><br>
        </div><br><br>
        <div class="r_box">
            <div class="txt" ><b>FARMING TOOL OFFERS</b></div><br><br>
        </div><br><br>
        <div class="r_box">
            <div class="txt" ><b>FERTILIZERS OFFERS</b></div><br><br>
        </div>
        Number of farmers having loan below 500000 are {{c2}}
    <br><br><br><br>
    Number of farmers having loan above 500000 are {{c1}}
    </div>
</body>
</html>